body {
    background-color: rgba(93, 177, 228, 0.2); 
}

.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
}

textarea {
    width: 500px; 
}

.cryptoBoard {
    display: none;
    /* display: flex;  */
    color: white; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin: 10px; 
    border-radius: 5px; 
    background-color: rgba(6, 18, 66, 0.9);
    box-shadow: 2px 2px 3px 1px rgb(3, 14, 56);
}

.active {
    display: flex; 
}

.wordBox {
    display: flex; 
    justify-content: center;
    align-items: center;
    color: rgb(52, 46, 46); 
    background-color: transparent;
    border-radius: 3px;
    font-size: 20px; 
    /* min-width: 150px;  */
    height: 30px; 
    box-shadow: 1px 1px 5px 1px rgba(6, 3, 60, 0.1);
    margin: 10px; 
    padding: 2px; 
}

.letterBox {
    display: flex; 
    justify-content: center;
    align-items: center;
    color: rgb(52, 46, 46); 
    background-color: rgba(233, 231, 229, 0.8); 
    border-radius: 3px;
    font-size: 20px; 
    width: 25px; 
    height: 25px; 
    box-shadow: 1px 1px 3px 1px rgba(102, 99, 94, 0.8);
}

.blankBox {
    background-color: transparent; 
    border-radius: 3px;
    font-size: 10px; 
    width: 50px; 
    height: 25px; 

}

#submit {
    padding: 10px 20px;
    margin-top: 5px;  
    color: white; 
    background-color: rgb(17, 112, 201);
    border-radius: 5px; 
    box-shadow: 1px 2px 2px 1px grey;
}